---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const videos = await getCollection('videos');
	return videos.map((video) => ({
		params: { id: video.id },
		props: video,
	}));
}

const video = Astro.props;
const { Content } = await render(video);
---

<Layout {...video.data}>
    {video.data.videoUrl && (
        <div class="video-embed" style="margin-bottom: 2rem;">
            <iframe 
                width="100%" 
                height="500" 
                src={video.data.videoUrl.replace("watch?v=", "embed/")} 
                frameborder="0" 
                allowfullscreen
            ></iframe>
        </div>
    )}
	<Content />
</Layout>
