---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main style="text-align: left;">
			<h1>{SITE_TITLE}</h1>
			<p>
				this is an absolute website. it is an abyss you have probably never seen such a thing.
			</p>
			<p>
				You have entered a realm of interesting, but ultimately meaningless content. Well, it's just some stuff I wrote and made because I'm a creative guy. Please enjoy your stay :)
			</p>

			<div class="video-container">
				<iframe
                    id="random-video"
					src=""
					title="absolute video"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
			</div>

            <script>
                const videoIds = [
                    'IqxPF_xFaWI', 'FwhpXrYCEjI', 'Z164gXVVWrg', 'U-eZh7QALjs',
                    's3KDNFJFvm0', 'GVu-UNnZ74g', 'DHAHBiZEiHM', 'NIH7oa0XMgY',
                    'bOi6W826X-0', 'MDMWXsEW_Mc', 'NoYNal4euhw', 'z06bDQydOes'
                ];
                
                const randomId = videoIds[Math.floor(Math.random() * videoIds.length)];
                const iframe = document.getElementById('random-video') as HTMLIFrameElement;
                if (iframe) {
                    iframe.src = `https://www.youtube.com/embed/${randomId}`;
                }
            </script>

            <br />
            <br />
            <br />

            <p style="text-align: left;">
                <a href="/secret" style="font-size: 1.8rem; color: inherit; text-decoration: none; border: none; text-shadow: none; cursor: default;">Remember</a>
            </p>
		</main>
		<Footer />
	</body>
</html>
