---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>{SITE_TITLE}</h1>
			<p>
				this is an absolte website. you have probably never seen such a thing.
			</p>
			
			<div class="video-container">
				<iframe
					src="https://www.youtube.com/embed/dQw4w9WgXcQ"
					title="absolute video"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
			</div>

			<p>
				You have entered a realm of interesting, but ultimately meaningless content. Well, it's just some stuff I wrote and made because I'm a creative guy. Please enjoy your stay :)
			</p>
		</main>
		<Footer />
	</body>
</html>
