---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="about the absolute"
	description="this is the absolute origin. you have probably never seen such a thing."
	pubDate={new Date('March 08 2026')}
>
	<p>
		This is the origin of the absolute. A creative space created by mgerges12. 
	</p>
	<br />
	<p>
		I make things. I write things. I put them here. 
	</p>
	<br />
	<p>
		There is no deeper meaning. There is only the content.
	</p>
    <br />
    <p>
        Enjoy the silence.
    </p>
</Layout>
