---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const stories = await getCollection('stories');
	return stories.map((story) => ({
		params: { id: story.id },
		props: story,
	}));
}

const story = Astro.props;

// The Absolute Force Renderer:
const rawContent = story.body
    .replace(/\*\*\*(.*?)\*\*\*/g, '<strong><em>$1</em></strong>')
    .replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>')
    .replace(/\*(.*?)\*/g, '<em>$1</em>')
    .replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')
    .replace(/  /g, '&nbsp;&nbsp;')
    .replace(/\n/g, '<br />');
---

<Layout {...story.data}>
	<div class="absolute-rendering" set:html={rawContent}></div>
</Layout>

<style>
    .absolute-rendering {
        font-family: 'Office Code Pro', 'Courier New', monospace !important;
        font-size: 1.1rem;
        line-height: 1.6;
        color: inherit;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    
    .absolute-rendering strong {
        font-weight: bold;
        color: var(--accent);
    }
    :global(.light-mode) .absolute-rendering strong {
        color: #008000;
    }
</style>
