---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'poems'>['data'] | CollectionEntry<'stories'>['data'];

const { title, description, pubDate } = Astro.props;

// Specific size logic for different page types
const isVideosPage = title.toLowerCase() === 'videos';
const isWritingList = title.toLowerCase() === 'writing';

// Now both main section headers are 4rem
let titleSize = '4rem'; 
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style define:vars={{ titleSize }}>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose-container {
				width: 1000px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 0 1em 4em 1em;
				color: inherit;
                text-align: left;
			}
			.title-section {
				margin-bottom: 3rem;
				padding: 2em 0;
				text-align: center;
				border-bottom: 1px solid #333;
                position: relative;
			}
            :global(.light-mode) .title-section {
                border-bottom: 1px solid #ddd;
            }
            .back-link {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5rem;
                text-decoration: none;
                color: var(--accent);
            }
            :global(.light-mode) .back-link {
                color: #008000;
            }
			.title-section h1 {
				margin: 0;
				font-size: var(--titleSize); 
                text-transform: uppercase;
                display: inline-block;
                letter-spacing: -2px;
                line-height: 1;
			}
			.date {
				margin-bottom: 0.5em;
				color: #888;
                font-size: 1rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article class="prose-container">
				<div class="title-section">
                    {(!isVideosPage && !isWritingList) && <a href="/writing" class="back-link" title="back to writing">← back</a>}
					<div class="date">
						{(!isVideosPage && !isWritingList) && <span>Last Updated: <FormattedDate date={pubDate} /></span>}
					</div>
					<h1>{title}</h1>
				</div>
                <slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
